{% extends "header.html" %}

{% block body %}

<body>
<center>
<!-- Image -->
<img src="{{ url_for('static', filename='images/FSquare.jpg') }}" alt="Fat Fishu Image" width="1000">


<h2><font size="24" color="blue">F</font>inding jobs for <font size="24" color="blue">F</font>1 students</h2>
<div class="container">
	<br><br><br><br>
	<form action="" class="form-inline" method="post">
		<input type="text" class="form-control" placeholder = "Job Title" name="jobTitle" value="{{request.form.jobTitle}}">
		<input type="text" class="form-control" placeholder = "Location" name="location" value="{{request.form.location}}">
		<input class="btn btn-default" type="submit" value="Search">
	</form>
</div>
</center>
</body>

{% endblock %}
