<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
</head>

<header>

 <ul class="nav navbar-nav navbar-right">
  <div style="margin-right: 90px; margin-left: 135px; margin-top: 45px; margin-bottom: 45px;"  class="container-fluid">
   
   <h4><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login   </a></h4>
   
   <h4><a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Sign up</a></h4>
   
  </div>
 </ul>
	
</header>

<body>
<center>
<!-- Image -->
<img src="{{ url_for('static', filename='images/FSquare.jpg') }}" alt="Fat Fishu Image" width="1000">


<h2><font size="24" color="blue">F</font>inding jobs for <font size="24" color="blue">F</font>1 students</h2>
<div class="container">
	<br><br><br><br>
	<form action="" class="form-inline" method="post">
		<input type="text" class="form-control" placeholder = "Job Title" name="jobTitle" value="{{request.form.jobTitle}}">
		<input type="text" class="form-control" placeholder = "Location" name="location" value="{{request.form.location}}">
		<input class="btn btn-default" type="submit" value="Search">
	</form>
</div>
</center>
</body>
</html>
